<?xml version="1.0" encoding="UTF-8"?>
<log4j:Configuration status="WARN" strict="true">
	<Appenders>
		<Appender type="Console" name="STDOUT" class="org.apache.log4j.ConsoleAppender">
			<Layout type="org.apache.log4j.PatternLayout"
				pattern="%d{HH:mm:ss.SSS} [%t]%-5level %logger{36} - %msg%n" />
		</Appender>

		<Appender type="File" name="file" fileName="D:\ProjectsAutomation\MyStore\logs\app.log">
			<Layout type="PatternLayout"
				pattern="%d{HH:mm:ss.SSS} [%t]%-5level %logger{36} - %msg%n" />
		</Appender>
	</Appenders>


	<Loggers>
		<Root level="all">
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</log4j:Configuration>